In [1]:
import pandas as pd
pd.options.display.max_rows = 5
filename = 'cotm_16_tracks.csv'
delimiter = r"\s+" # some of the columns are separated by a space, others by tabs, use regex to include both
header_row = 0     # the first row has all the header names  
df=pd.read_csv(filename, sep=delimiter, header=header_row, parse_dates=[['date', 'time']])

In [2]:
df

                 date_time           name   latitude   longitude heading
0      2016-06-17 21:58:28  20160617A_EV1  43.446248 -113.564364   153.9
1      2016-06-17 21:58:29  20160617A_EV1  43.446248 -113.564364    20.9
...                    ...            ...        ...         ...     ...
444273 2016-06-29 21:30:37  20160629A_EV1  43.461320 -113.564211    24.8
444274 2016-06-29 21:30:39  20160629A_EV1  43.461335 -113.564219   157.3

[444275 rows x 5 columns]

In [3]:
df['name'].value_counts() # useful to check that selected name actually exists

20160622A_EV2    33155
20160623A_EV2    32034
                 ...
20160617A_EV1      972
20160617A_EV2      667
Name: name, dtype: int64

In [4]:
testdata = df[df['name']=='20160629A_EV1']
testdata

                 date_time           name   latitude   longitude heading
433103 2016-06-29 15:11:19  20160629A_EV1  43.461873 -113.571797   141.7
433104 2016-06-29 15:11:21  20160629A_EV1  43.461873 -113.571797    62.1
...                    ...            ...        ...         ...     ...
444273 2016-06-29 21:30:37  20160629A_EV1  43.461320 -113.564211    24.8
444274 2016-06-29 21:30:39  20160629A_EV1  43.461335 -113.564219   157.3

[11172 rows x 5 columns]

In [5]:
traversal_id = '20160629A_EV1'
time_lat_long = df[df['name']== traversal_id][['date_time','latitude','longitude']]
time_lat_long

                 date_time   latitude   longitude
433103 2016-06-29 15:11:19  43.461873 -113.571797
433104 2016-06-29 15:11:21  43.461873 -113.571797
...                    ...        ...         ...
444273 2016-06-29 21:30:37  43.461320 -113.564211
444274 2016-06-29 21:30:39  43.461335 -113.564219

[11172 rows x 3 columns]

In [6]:
out = time_lat_long[['latitude','longitude']].iloc[0]

In [26]:
min_vals = time_lat_long[['latitude','longitude']].min()
max_vals = time_lat_long[['latitude','longitude']].max()
print(min_vals.latitude, min_vals.longitude)
print(max_vals.latitude, max_vals.longitude)

(43.459764136666699, -113.574385796667)
(43.463998991666699, -113.564180421667)

In [8]:
time_lat_long.size

33516

In [9]:
from api import *
import numpy as np
time_lat_long_np = time_lat_long[['latitude','longitude']].values

In [10]:
time_lat_long_np[:,1]

array([-113.57179652, -113.57179679, -113.57179652, ..., -113.5642193 ,
       -113.56421135, -113.5642191 ])

In [11]:
latlongcoord = LatLongCoord(time_lat_long_np[:,0], time_lat_long_np[:,1])

In [12]:
latlongcoord.latLongList()

[array([ 43.46187283,  43.4618729 ,  43.46187282, ...,  43.46133083,
         43.46131952,  43.46133547]),
 array([-113.57179652, -113.57179679, -113.57179652, ..., -113.5642193 ,
        -113.56421135, -113.5642191 ])]